
h1 {
    color: blue;
}
p {
   
    background-image: url('pexels-pixabay-531880.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed ;
}

a:link, a:visited{
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active{
    background-color: red;
}